{% extends 'tienda/main.html' %}

{% block content %}
      <div class="container">
        <form autocomplete="off" action="">
      
          <label for="fname">Nombre</label>
          <input type="text" id="fname" name="firstname" placeholder="Primer Nombre">
      
          <label for="lname">Apellido</label>
          <input type="text" id="lname" name="lastname" placeholder="Apellido Paterno">

          <label for="email">Correo Electronico</label>
          <input type="text" id="lname" name="lastname" placeholder="correo@domnio.com">
      
          
          <div class="autocomplete">
            <label for="country">Pais</label>
            <input id="myInput" type="text" name="myCountry" placeholder="Pais">
          </div>
        <div>
          <label for="subject">Mensaje</label>
          <textarea id="subject" name="subject" placeholder="Escribenos tu Mensaje" style="height:200px"></textarea>
        </div>  
          <input type="submit" value="Submit">
      
        </form>
      </div>

{% endblock %}